<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body>
   <header class="showcase">
    <div class="content">
        <img src="images/logo.png" class="logo" alt="Sketch Book">
        <div class="title f-dark">
            Welcome To Sketch Book
        </div>
        <div class="f-dark">Sketch Board is a Collaborative Drawing Based Web Application Created with p5.js, Node.js, Socket.io and Passport.js.</div>
    </div>
   </header>
   <section class="services">
       <div class="container grid-3 center">
           <div>
               <p>Click Icon to Login</p>
               <a href="/login"> <i class="fa fa-sign-in fa-3x"></i> </a>
           </div>
           <div>
                <p>Click Icon to Register</p>
                <a href="/register"> <i class="fa fa-user-plus  fa-3x"></i> </a>
           </div>
           <div>
                <p>Fork Me on Github</p>
                <a href="https://github.com/DeboDevelop/SketchBoard"> <i class="fa fa-github fa-3x"></i> </a>
           </div>
       </div>

       <section class="about bg-light">
        <div class="container">
          <div class="grid-2">
            <div class="center">
              <h1>Created by Debajyoti Dutta</h1>
              <h1>Thank You To Everybody Who Supported This Project</h1>
            </div>
            <div>
              <h3>Image Credits</h3>
              <p>
                <span>Photo by <a href="https://unsplash.com/@patrickian4?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Patrick Fore</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
                <br>
                <span>Photo by <a href="https://unsplash.com/@sveninho?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Sven Scheuermeier</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
                <br>
                <span>Photo by <a href="https://unsplash.com/@marvelous?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Marvin Meyer</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
                <br>
                Image by <a href="https://pixabay.com/users/Bellinon-2931390/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4087984">Bellinon</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4087984">Pixabay</a>
                <br>
                <span>Illustration by <a href="https://vijayverma.co/">Vijay Verma</a> from <a href="https://illlustrations.co/"> illlustrations.co</a>.</span>                
              </p>
            </div>
          </div>
        </div>
      </section>
      <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/index.css">
</body>
</html>