<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/sketchy/bootstrap.min.css" integrity="sha384-NkI/Nlr1DZ5rUXWWdnuZb97FQRgCCcwC66DC+HUCY0oVx6BgBHUfPcwL1vwp93JZ" crossorigin="anonymous">
    <title>Register Page</title>
</head>
<body>
    <header id="showcase">
        <div class="jumbotron center" id="box">
            <h1>Registration</h1>
            <% if (messages.error) { %>
                <div class="alert alert-dismissible alert-danger">
                    <%= messages.error %>
                </div>
            <% } %>
            <% if (messages.success) { %>
                <div class="alert alert-dismissible alert-success">
                    <%= messages.success %>
                </div>
            <% } %>
            <form action="/register" method="POST">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">Email Address: </label>
                    <input type="email" name="email" id="email" class="form-control" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary btn-lg mb-2">Register</button>
            </form>
            <span>Already have an account? Login <a href="/login">Here</a>.</span>
        </div>
        <img src="images/register_left.png" id="left" class="jiggle">
        <img src="images/register_right.png" id="right" class="jiggle">
    </header>
    <link rel="stylesheet" href="css/register.css">
</body>
</html>